/* @theme tuesdayjz */

  @import 'default';

  h1 {
    margin: 1px;
    font-size: 2.5em;
    color: #00375e;
  }

  h2 {
    margin: 3px 3px 50px 3px;
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.8em;
    text-align: center;
    position: relative;
    padding: 0.8rem;
  }

  h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  img[alt~="center"] {
    display: block;
    margin: 0 auto;
  }

  h4 {
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #fafafa;
    border-left: solid 6px #5b97be;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    display: inline-block;
  }

  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&display=swap");

  section {
    background-color: #efefef;
    font-family: "Noto Sans JP", sans-serif;
    justify-content: start;
  }
