@charset "UTF-8";

/*!
  Marp TuesdayJZ theme.
  @theme tuesdayjz
  @author TuesdayJZ

  @auto-scaling true
  @size 4:3 960px 720px
  @size 16:9 1280px 720px
  */

@import 'default';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&display=swap");

:root {
  font-family: "Noto Sans JP", sans-serif;
  --background: #f0f4f8;
  --link: #1c948e;
  --white: #fff;
  --gray: #333;
  --lightgray: #aaa;
  --blue: #134d68;
  --lightblue: #1a7894;
  --llightblue: #97bbc9;
  --yellow: #ece58b;
  --pink: #bd909b;
  --mini-font-size: 18px;
  --header-footer-height: 40px;
  background-color: var(--background);
}

section {
  cursor: url(./img/laser-red.png), pointer;
}

section.normal {
  font-family: "Noto Sans JP", sans-serif;
  justify-content: start;
}

section.title {
  font-family: "Noto Sans JP", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--gray);
  background-image: linear-gradient(150deg, var(--llightblue), var(--lightgray), var(--pink));
}

section.index {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: var(--gray);
}

section::after {
  font-size: 32px;
  color: var(--gray);
  bottom: 10px;
  font-weight: normal;
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

section.title::after {
  font-size: 30px;
  bottom: 10px;
  color: var(--white);
}

header {
  color: var(--gray);
  font-size: 16pt;
  top: 8px;
  bottom: 0%;
  font-weight: normal;
}

footer {
  color: var(--gray);
  font-size: 16pt;
  font-family: "Noto Sans JP", sans-serif;
  left: 30px;
  bottom: 10px;
  font-weight: normal;
}

section.title h1 {
  font-size: 1.8em;
  color: var(--blue);
  background: var(--white);
  text-align: center;
}

section.title h2 {
  font-size: 1.2em;
  padding: 0.5;
  margin: 0;
  text-align: center;
  color: var(--white);
}

section.index h1 {
  font-size: 2.0em;
  color: var(--blue);
  text-align: center;
  background: var(--white);
  padding: 0.2em 0.8em;
}

section.normal h1 {
  position: relative;
  padding: 0 0 0.5rem 0;
  color: var(--gray);
}

section.normal h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: linear-gradient(to right, var(--blue) 0%, var(--lightblue) 30%, var(--llightblue) 60%, var(--background) 100%);
}

section.normal h2 {
  padding: 0 0 0.3rem 0;
  color: var(--gray);
  margin: 0.3rem 0 0.5rem 0;
  background: linear-gradient(transparent 65%, var(--llightblue) 20%);
  display: inline-block;
}

section.normal h3 {
  color: var(--blue);
  padding: 0.1em;
  margin: 0.2em;
}

.box1 {
  margin: 2em auto;
  padding: 2em;
  background-image: linear-gradient(0deg, transparent 18px, #ccc 20px), linear-gradient(90deg, transparent 18px, #ccc 20px);
  background-size: 20px 20px;
  background-color: var(--white);
}

.box2 {
  margin: 0.25em auto;
  padding: 0.2em 0.5em 0em 0em;
  width: auto;
  background-color: #efefef;
  box-shadow: 0 0 7px 3px #aaaaaa;
}

table {
  text-align: center;
  background-color: var(--blue);
}

table::-webkit-scrollbar {
  display: none;
}

rt {
  font-size: 12pt;
  margin: auto;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

li::marker {
  color: var(--lightblue);
  font-size: 30px
}

.bulb ul {
  list-style-type: "\1F4A1";
}

blockquote {
  font-size: var(--mini-font-size);
  position: absolute;
  top: 20px;
  right: 30px;
  padding-left: 20px;
  color: var(--blue);
}

blockquote::before {
  display: none;
}

blockquote::after {
  display: none;
}

.head-border {
  display: flex;
  align-items: center;
}

.head-border:before,
.head-border:after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: var(--gray);
}

.head-border:before {
  margin-right: 20px;
}

.head-border:after {
  margin-left: 20px;
}

section.normal pre {
  padding: 0.5em;
  color: var(--black);
  background-color: var(--white);
  border-radius: 3px;
}

a {
  color: var(--link);
  text-decoration: underline;
}

.marker {
  background: linear-gradient(transparent 65%, var(--yellow) 20%);
}
